<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                extend: {
                    colors: {
                    clifford: '#da373d',
                    }
                }
                }
            }
        </script>
    </head>
    <body class="bg-gray-200">
        <main>
            <div class="mx-auto px-4 py-4 sm:px-4 lg:px-8">
           
            {% block content %}
            {% endblock %}

            </div>
        </main>
        </div>
    </body>
</html>