{% extends "base.html" %}

{% block content %}

 <div class="w-full h-full bg-white shadow-lg rounded-lg flex flex-wrap items-start justify-center m-5 p-5 gap-4">
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">NB 48</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">VTLEX 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">VTLEX 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">INSITU 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">INSITU 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">SR 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">SR 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">SR 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">ESAB</th>
            </tr>
        </thead>
       <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
    <table class="w-1/4 border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 px-4 py-2" colspan="2">LINCOLN</th>
            </tr>
        </thead>
       <tbody>
            <tr>
                <td class="border border-gray-400 px-4 py-2">OEE</td>
                <td class="border border-gray-400 px-4 py-2">1</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Reject Rate</td>
                <td class="border border-gray-400 px-4 py-2">2</td>
            </tr>
            <tr>
                <td class="border border-gray-400 px-4 py-2">Absorption Hours</td>
                <td class="border border-gray-400 px-4 py-2">3</td>
            </tr>
        </tbody>
    </table>
 </div>


{% endblock %}